<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=ComplaintsPortal;User ID=sa;Password=Password123!" providerName="System.Data.SQLClient"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

	<appSettings>
		<add key="EmailTemplateFolder" value="D:\Infosys-Hackathon\MyFirstProject\CivicAminities\ComplaintsPortal\TestUI\EmailTemplates"/>
		<add key="MailFrom" value="teamcomplaintsportal@gmail.com" />
		<add key="Password" value="ComplaintsPortal@MainField"/>
		<!--Emails-->
		
    <add key="AccountCreationEmail" value="AccountCreationEmail.html"/>
    <add key="AccountCreationEmailSubject" value="Your Complaint Potal Account Details"/>
    <add key="ComplaintFixedEmail" value="ComplaintFixedEmail.html"/>
    <add key="ComplaintEscalationEmailSubject" value="Escalated. Please take a look"/>
    <add key="ComplaintFixedEmailSubject" value="Complaints Fixed"/>
    <add key="ComplaintEscalationEmail" value="ComplaintEscalationEmail.html"/>
    <add key="ContactUsEmail" value="ContactUsEmail.html"/>
    <add key="ContactUs" value="ContactUs"/>

    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="EnableSSL" value="true"/>

	</appSettings>
</configuration>
