<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <authentication mode="Forms"></authentication>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <roleManager enabled="true"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="EmailTemplateFolder" value="F:\DotnetProjects\WebApplications\Civic-Aminities-Inofsys-Hackathon\CivicAminities\ComplaintsPortal\WebUI\EmailTemplates"/>
    <add key="MailFrom" value="teamcomplaintsportal@gmail.com"/>
    <add key="Password" value="ComplaintsPortal@MainField"/>
    <!--Emails-->
    <add key="AccountCreationEmail" value="AccountCreationEmail.html"/>
    <add key="AccountCreationEmailSubject" value="Your Complaint Potal Account Details"/>
    <add key="ComplaintFixedEmail" value="ComplaintFixedEmail.html"/>
    <add key="ComplaintFixedEmailSubject" value="Complaints Fixed"/>
    <add key="ComplaintEscalationEmailSubject" value="Escalated. Please take a look"/>
    <add key="ComplaintEscalationEmail" value="ComplaintEscalationEmail.html"/>

    <add key="ContactUs" value="ContactUs"/>
    <add key="ContactUsEmail" value="ContactUsEmail.html"/>

    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="EnableSSL" value="true"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=ComplaintsPortal;User ID=sa;Password=Password123!" providerName="System.Data.SqlClient"/>
    <add name="DBConnection" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=ComplaintsPortal;User ID=sa;Password=Password123!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>
